.steps {
  display: flex;
  gap: 5rem;
  padding: 2rem 0;
}

.step {
  display: flex;
  align-items: center;
  padding: 0.875rem;
  border-radius: 50%;
  background-color: rgb(74, 74, 240);
}

.step svg {
  fill: #fff;
  stroke: #fff;
}
